<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <sentence>logged in</sentence>
        <%= button_to "ログアウト", :logout, :method => :delete %>
      <% else %>
        <sentence>logged out</sentence>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
